.affairContainer {
    max-width: 500px;
    padding: 15px;
    background-color: #FFFFFF;
}

.affairContainer button {
    margin: 5px;
    background-color: darkslategray;
    color: #FFFFFF;
    border-radius: 3px;
}

.affair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid darkgray;
    margin-bottom: 5px;
}

.affair div {
    text-align: center;
    width: 33.3%;
}
